<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ '/'|url }}">{{bag('content.header.title')}}</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" {% if this._path == '/about' %} class="menuToggle dark" {% else %} class="menuToggle" {% endif %}></a>
					<div id="menu" class="invert color1">
						<ul>
							<li{% if this._path == '/' %} class="active"{% endif %}><h2><a href="{{ '/'|url }}">Home</a></h2></li>

							{% for id, item in bag('menu').items() %}
								{% set current = site.get(item.path) %}
								{% if not item.is_hidden %}
									<li{% if this.is_child_of(item.path) %} class="active"{% endif%}>
										<h2><a href="{{ item.path|url }}">{{ item.label }}</a></h2>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
