{% macro render_blog_short(post, from_index=false) %}
<section>
    <span class="icon style2 major fa-paper-plane-o"></span>
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% if post.short %}
        <p>{{post.short}}</p>
    {% endif %}
</section>
<!--
    <p class="meta">
      written by
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle
          }}">{{ post.author or post.twitter_handle }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date }}
    </p>
-->
{% endmacro %}
