{% macro render_blog_short(post, from_index=false) %}
<section class="banner style2">
    <div class="content {{'has-image' if post.has_header else ''}}">
      <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>

      {% if post.short %}
          <p>{{post.short}}</p>
      {% endif %}

      <p class="meta">
        written on {{ post.pub_date }}
      </p>
    </div>

    <div class="image">
      <img src="{{'../../img' + post|url + 'header.jpg'}}" alt="" />
    </div>
</section>

<!-- ORIGINAL -->
<!-- <section>
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    {% if post.short %}
        <p>{{post.short}}</p>
    {% endif %}
</section> -->
{% endmacro %}
