{% macro render_blog_post(post, from_index=false) %}
<article class="blog-post">

	<header style="{{'
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../img' + post|url + 'header.jpg);
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../img' + post|url + 'header.jpg);
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../img' + post|url + 'header.jpg);
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../img' + post|url + 'header.jpg);
	' if post.has_header else ' '}}">
		{% if from_index %}
			<h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
			<h4>{{ post.short }}</h4>
		{% else %}
			<h2>{{ post.title }}</h2>
			<h4>{{ post.short }}</h4>
		{% endif %}

		<p class="meta">
			written by
			{% if post.twitter_handle %}
				<a href="https://twitter.com/{{ post.twitter_handle}}">{{ post.author or post.twitter_handle }}</a>
			{% else %}
				{{ post.author }}
			{% endif %}
			on {{ post.pub_date }}
		</p>
	</header>

	<section class="wrapper style1">
		<div class="inner">
			{{post.body}}
		</div>
	</section>
</article>
{% endmacro %}
